{% extends "Layouts/layout.twig" %}

{% block content %}
<div class="form">
<form action="/register/user" method="POST" class="login-form">
<h4 class="title-login">Registrate</h4>
<div class="row">
  <div class="col-md-12">
  <input type="text" name="nombreuser"   class="form-control" placeholder="Nombres" required />
  </div>
  <div class="col-md-12">
<input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos" required>
  </div>
  <div class="col-md-12">
<input type="email" class="form-control" id="correo" name="correo" placeholder="Correo" required>
  </div>
  <div class="col-md-12">
<input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required>
  </div>
<div class="alert col-md-12" role="alert" id="messagealert">
<h6 class="responseMessage">
   {{ responseMessage }}    
</h6>
  </div>
  <div class="col-md-12">
  <button type="submit" class="btn btn-primary btn-lg btn-block">Registrar</button>
  </div>
  </div>
</form>
</div>
<link rel="stylesheet" type="text/css" href="/src/css/login.css">


{% endblock %}
