{% extends "Layouts/layout.twig" %}

{% block content %}
<div class="form">
<form action="/login/user" method="POST" enctype="multipart/form-data" class="login-form">
<h4 class="title-login">Inicia Sesión</h4>
<div class="row">
  <div class="col-md-12">
  <input type="email" name="email" id="email"  class="form-control" placeholder="correo electronico"/>
  </div>
  <div class="col-md-12">
    <input type="password" class="form-control" id="password" placeholder="contraseña" name="password">
  </div>
  <div class="alert  col-md-12" role="alert" id="messagealert">
<h6 class="responseMessage">
  {{ responseMessage }}
</h6>
  </div>
  <div class="col-md-12">
  <button type="submit" >Iniciar Sesión</button>
  <p class="message">¿No se encuentra registrado? <a href="/register/user">Crea una cuenta</a></p>
  <p class="message">¿Has olvidado tu contraseña? <a href="#">Olvide contraseña</a></p>

</div>  
  </div>
</form>
</div>
<link rel="stylesheet" type="text/css" href="/src/css/login.css">


{% endblock %}
