<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/src/css/bootstrap.css" />
    <link rel="stylesheet" href="/src/css/style.css">    
    <title>MiniErp</title>
</head >
<body id="princ">

<div class="container">
 {% block content %} {% endblock %}
</div>
</body>
</html>