@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body#princ{
    margin: 0;
    padding: 0 ; 
    background-image: url(/uploads/home_login.jpg) ;
    background-size: cover ;
    background-position: center center ;
    background-repeat: no-repeat ;
    height: 100vh ;
    width: 100% ;
    }
div#messagealert{
  margin-top: 0px;
}
h6.responseMessage{
  color: #ffffff;
}
.row{
padding-top: 20px;
}
.title-login {
    font-size: 30px;
    color: #83c2e5;
    font-weight: 700;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background-color: rgba(21, 19, 19, 0.66);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #83c2e5;
  width: 100%;
  border: 0;
  padding: 15px;
  color:#ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;  
}
.form button:hover,.form button:active,.form button:focus {
  background: #459fcf;
}
.form .message {
  margin: 15px 0 0;
  color: #ffffff;
  font-size: 12px;
}
.form .message a {
  color: #83c2e5;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 100px;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
