.col-md-6 {
    padding-bottom: 20px;
}
.col-md-12 {
    text-align: left;
}
.col-md-6 {
    text-align: left;
}

#btnGuardar{
    padding-bottom: 20px;
}
#messagealert{
    padding-top: 20px;
        color: #83c2e5;
    font-weight: bold;
}