{% extends "Layouts/layout.twig" %}

{% block content %}

<h2>Obreros</h2>
<form action="/obrero/add" method="POST" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <label for="nombre">Nombre </label>
                <input type="text" id="nombres" name="nombres" class="form-control" placeholder="Nombres"
                    required />
            </div>
            <div class="col-md-12">
                <label for="apellidos">Apellidos</label>
                <input type="text" class="form-control" id="apellidos" placeholder="Apellidos" name="apellidos">
            </div>
            <div class="col-md-6">
                <label for="dni">DNI</label>
                <input type="text" class="form-control" id="dni" placeholder="DNI" name="dni" required>
            </div>
            <div class="col-md-6">
                <label for="celular">Celular/Teléfono</label>
                <input type="text" class="form-control" id="celular" placeholder="Celular/Teléfono" name="celular" required>
            </div>
            <div class="col-md-6">
                <label for="celular">Especialidad</label>
                <select id="especialidad" name="especialidad" class="form-control">
                    {% for especialidads in especialidad %}
                      <option id="espec" value="{{especialidads.id}}">{{especialidads.nombre}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6">
                <label for="imgfile">Foto</label>
                <input type="file" class="form-control" id="imgfile" name="imgfile">
            </div>

            <div class="alert alert-primary col-md-12" role="alert" id="messagealert">
                {% for key, responseMessages in responseMessage %}
                <p>{{ responseMessages }}</p>
                {% endfor %}
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
            </div>

        </div>
    </div>
</form>

{% include 'Obreros/listObreros.twig' %}


<style>
    .container {
        margin-top: 20px !important;
    }
</style>
{% endblock %}
