<table style="width:100%">
    <tr>
        <th>Nombres y Apellidos</th>
        <th>DNI</th>
        <th>Celular</th>
        <th>Fecha de Ingreso</th>
        <th>Foto</th>

    </tr>

    {% for obrero in obreros %}
    <tr>
        <td>{{ obrero.nombres }} {{ obrero.apellidos }}</td>
        <td>{{ obrero.dni }}</td>
        <td>{{ obrero.celular }}</td>
        <td>{{ obrero.created_at }}</td>
        <!-- uso de el trait softdelete -->
        <td> <img src="/{{ obrero.getImage() }}" alt="" style="max-width: 80px"></td>
        <!-- <td><a href="/proyecto/{{proyect.id}}/costos/add">Agregar Costos</a></td>
        <td><a href="/proyecto/{{proyect.id}}/editar" class="">Editar</a><br>
            <a href="/proyecto/{{proyect.id}}/delete" class="">Eliminar</a><br></td> -->




    </tr>

    {% endfor %}


</table>
