{% extends "Layouts/layout.twig" %}

{% block content %}

<h2>{% for proyect  in proyects %} {{proyect.nombre}} {% endfor %}: Costos </h2>
<form action="/proyecto/{% for proyect  in proyects %}{{proyect.id}}{% endfor %}/costos/add/materiales" method="POST"
    enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <label for="nombre">Nombre Producto</label>
                <input type="text" name="nombre" class="form-control" placeholder="nombre del producto" required />
            </div>
            <div class="col-md-6">
                <label for="descripcion">Descripcion</label>
                <input type="text" class="form-control" id="descripcion" placeholder="descripcion" name="descripcion">
            </div>
            <div class="col-md-6">
                <label for="cantidad">Cantidad</label>
                <input type="text" class="form-control" id="cantidad" placeholder="Cantidad" name="cantidad" required>
            </div>
            <div class="col-md-6">
                <label for="preciouni">Precio Unidad</label>
                <input type="text" class="form-control" id="preuni" placeholder="precio por unidad" name="preuni"
                    required>
            </div>
            <div class="col-md-12">
                <label for="imgfile">Sube tu imagen</label>
                <input type="file" class="form-control" id="imgfile" name="imgfile">
            </div>

            <div class="col-md-6" role="alert" id="messagealert">
                {% for key, responseMessages in responseMessage %}
                <p>{{ responseMessages }}</p>
                {% endfor %}
            </div>
            <div class="col-md-12" id="btnGuardar">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
            </div>

        </div>
    </div>
</form>
{% include 'CostosProyecto/listCostos.twig' %}

<style>
    .container {
        margin-top: 20px !important;
    }
</style>
{% endblock %}
