{% extends "Layouts/layout.twig" %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <a type="submit" class="btn btn-primary btn-lg btn-block"
            href="/proyecto/{{proyecto}}/costos/add/obreros">Mano de Obra</a>

    </div>
    <div class="col-md-4">
        <a type="submit" class="btn btn-primary btn-lg btn-block"
            href="/proyecto/{{proyecto}}/costos/add/materiales">Materiales</a>

    </div>
    <div class="col-md-4">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>

    </div>

</div>

{% endblock %}
