<table style="width:100%">
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th> 
    <th>Cantidad</th>
    <th>PrecioUnidad</th>
    <th>SubTotal</th>
    <th>Imagen</th>
    <th>Fecha de registro</th>
    <th>Accion</th>
  </tr>
  
   {% for cost  in costs %}
    <tr>
    <td>{{ cost.nombre }}</td>
    <td>{{ cost.descripcion }}</td>
    <td>{{ cost.cantidad }}</td>
    <td>{{ cost.preciounidad }}</td>
    <td>{{ cost.preciototal }}</td>
        <!-- uso de el trait softdelete -->
    <td> <img src="/{{ cost.getImage() }}" alt="" style="max-width: 80px"></td>
    <td>{{ cost.created_at }}</td>
    <td><a href="/proyecto/{% for proyect  in proyects %}{{proyect.id}}{% endfor %}/costos/{{cost.id}}/delete"
        class="">Eliminar</a></td>

    </tr>

   {% endfor %}
   
  
</table>

