{% extends "Layouts/layout.twig" %}

{% block content %}

<h2>Preyecto</h2>
<form action="/proyecto/add" method="POST" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <label for="nombre">Nombre Proyecto</label>
                <input type="text" id="nombre" name="nombre" class="form-control" placeholder="nombre del producto" required />
            </div>
            <div class="col-md-12">
                <label for="descripcion">Descripcion</label>
                <input type="text" class="form-control" id="descripcion" placeholder="descripcion" name="descripcion">
            </div>
            <div class="col-md-6">
                <label for="cantidad">Capital</label>
                <input type="text" class="form-control" id="cantidad" placeholder="Capital" name="cantidad" required>
            </div>
            <div class="col-md-6">
                <label for="imgfile">Producto Final</label>
                <input type="file" class="form-control" id="imgfile" name="imgfile">
            </div>

            <div class="alert alert-primary col-md-12" role="alert" id="messagealert">
                {% for key, responseMessages in responseMessage %}
                <p>{{ responseMessages }}</p>
                {% endfor %}
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
            </div>

        </div>
    </div>
</form>
{% include 'Proyectos/listProyect.twig' %}

<style>
    .container {
        margin-top: 20px !important;
    }
</style>
{% endblock %}
