<table style="width:100%">
    <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Capital</th>
        <th>Fecha de creación</th>
        <th>Imagen</th>
        <th>Agrega Costos</th>
        <th>Accion</th>

    </tr>

{% for proyect in proyects %}
    <tr>
    <td>{{ proyect.nombre }}</td>
    <td>{{ proyect.descripcion }}</td>
    <td>{{ proyect.capital }}</td>
    <td>{{ proyect.created_at }}</td>

        <!-- uso de el trait softdelete -->
    <td> <img src="/{{ proyect.getImage() }}" alt="" style="max-width: 80px"></td>
    <td><a href="/proyecto/{{proyect.id}}/costos/add">Agregar Costos</a></td>
        <td><a href="/proyecto/{{proyect.id}}/editar" class="">Editar</a><br>
       <a href="/proyecto/{{proyect.id}}/delete" class="">Eliminar</a><br></td>
      



    </tr>

    {% endfor %}


</table>
